.menu__list--item{
    padding: 1rem 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(50, 50, 59);
    
}
.menu__list--item:hover{
    cursor: pointer;
    color: rgb(0, 94, 255);
}